{% extends 'startups/base.html' %}
{% load static %}

{% block content %}
<div id="index-cover" class="position-relative overflow-hidden text-center bg-light">
  <div>
    <h1 >Invest to what you are interested in!</h1>
    <p>Take an opportunity to invest to start-ups.<br/>
      We care product and vision first. Contact to start-ups you want to talk more!</p>
  </div>
</div>

<main role="main">
  <div id="watching" class="container-fluid">
    <div class="container">
      <h2 class="title">Watching</h2>
      <div class="row justify-content-md-center">
        <div class="card-deck">
          {% for wc in watching %}
            <div class="card">
              <img class="card-img-top" src="{% static 'images/cover.jpeg' %}" alt="Card image cap"/>
              <div class="card-body">
                <h5 class="card-title"><a class="startup-link" href="{% url 'startup_show' id=wc.id %}">{{ wc.product_name }}</a></h5>
                <p class="card-text"><a class="startup-link" href="{% url 'startup_show' id=wc.id %}">{{ wc.summary|default:'' }}</a></p>
                <div class="tags">
                  {% for tag in wc.tags %}
                    <span class="badge badge-pill badge-sand">#{{ tag }}</span>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div id="trending" class="container-fluid">
    <div class="container">
      <h2 class="title">Trending</h2>
      <div class="m_wrap">
        <div class="dx">
          {% for wc in trending %}
            <div class="xc">
              <div class="card" style="width:300px;display:inline-block;">
                <img class="card-img-top" src="{% static 'images/cover.jpeg' %}" alt="Card image cap"/>
                <div class="card-body" style="white-space: normal;line-height: 20px;">
                  <h5 class="card-title"><a class="startup-link" href="{% url 'startup_show' id=wc.id %}">{{ wc.product_name }}</a></h5>
                  <p class="card-text"><a class="startup-link" href="{% url 'startup_show' id=wc.id %}">{{ wc.summary|default:'' }}</a></p>
                  <div class="tags">
                    {% for tag in wc.tags %}
                      <span class="badge badge-pill badge-sand">#{{ tag }}</span>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div id="finance" class="container-fluid">
    <div class="container">
      <h2 class="title">Financial Service</h2>
      <div class="m_wrap row ">
        <div class="dx">
          {% for wc in financial %}
            <div class="xc">
              <div class="card" style="width:300px;display:inline-block;">
                <img class="card-img-top" src="{% static 'images/cover.jpeg' %}" alt="Card image cap"/>
                <div class="card-body" style="white-space: normal;line-height: 20px;">
                  <h5 class="card-title"><a class="startup-link" href="{% url 'startup_show' id=wc.id %}">{{ wc.product_name }}</a></h5>
                  <p class="card-text"><a class="startup-link" href="{% url 'startup_show' id=wc.id %}">{{ wc.summary|default:'' }}</a></p>
                  <div class="tags">
                    {% for tag in wc.tags %}
                      <span class="badge badge-pill badge-sand">#{{ tag }}</span>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div id="travel" class="container-fluid">
    <div class="container">
      <h2 class="title">Travel & Tourism</h2>
      <div class="m_wrap row ">
        <div class="dx">
          {% for wc in travel %}
            <div class="xc">
              <div class="card" style="width:300px;display:inline-block;">
                <img class="card-img-top" src="{% static 'images/cover.jpeg' %}" alt="Card image cap"/>
                <div class="card-body" style="white-space: normal;line-height: 20px;">
                  <h5 class="card-title"><a class="startup-link" href="{% url 'startup_show' id=wc.id %}">{{ wc.product_name }}</a></h5>
                  <p class="card-text"><a class="startup-link" href="{% url 'startup_show' id=wc.id %}">{{ wc.summary|default:'' }}</a></p>
                  <div class="tags">
                    {% for tag in wc.tags %}
                      <span class="badge badge-pill badge-sand">#{{ tag }}</span>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div id="commerce" class="container-fluid">
    <div class="container">
      <h2 class="title">Commerce & Shopping</h2>
      <div class="m_wrap row ">
        <div class="dx">
          {% for wc in commerce %}
            <div class="xc">
              <div class="card" style="width:300px;display:inline-block;">
                <img class="card-img-top" src="{% static 'images/cover.jpeg' %}" alt="Card image cap"/>
                <div class="card-body" style="white-space: normal;line-height: 20px;">
                  <h5 class="card-title"><a class="startup-link" href="{% url 'startup_show' id=wc.id %}">{{ wc.product_name }}</a></h5>
                  <p class="card-text"><a class="startup-link" href="{% url 'startup_show' id=wc.id %}">{{ wc.summary|default:'' }}</a></p>
                  <div class="tags">
                    {% for tag in wc.tags %}
                      <span class="badge badge-pill badge-sand">#{{ tag }}</span>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block js_libraries %}
<script type="text/javascript">
  function animatethis(targetElement, speed) {
    var scrollWidth = $(targetElement).get(0).scrollWidth;
    var clientWidth = $(targetElement).get(0).clientWidth;
    $(targetElement).animate({ scrollLeft: scrollWidth - clientWidth },
    {
        duration: speed,
        complete: function () {
            targetElement.animate({ scrollLeft: 0 },
            {
                duration: speed,
                complete: function () {
                    animatethis(targetElement, speed);
                }
            });
        }
    });
};
animatethis($('#trending .dx'), 6000);
</script>
{% endblock %}
