{% extends 'startups/base.html' %}

{% block content %}
<div id="index-cover" class="position-relative overflow-hidden text-center bg-light">
  <div>
    <h1 >Invest to what you are interested in!</h1>
    <p>Take an opportunity to invest to start-ups.<br/>
      We care product and vision first. Contact to start-ups you want to talk more!</p>
  </div>
</div>

<main role="main">
  <div id="watching" class="container-fluid">
    <div class="container">
      <h2 class="title">Watching</h2>
      <div class="row justify-content-md-center">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="cover.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a class="startup-link" href="show.html">From Smart Farm to Self Gardening!</a></h5>
              <p class="card-text"><a class="startup-link" href="show.html">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</a></p>
              <div class="tags">
                <span class="badge badge-pill badge-sand">#IoT</span>
                <span class="badge badge-pill badge-sand">#Technology</span>
                <span class="badge badge-pill badge-sand">#Bio</span>
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="cover.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a class="startup-link" href="show.html">From Smart Farm to Self Gardening!</a></h5>
              <p class="card-text"><a class="startup-link" href="show.html">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</a></p>
              <div class="tags">
                <span class="badge badge-pill badge-sand">#IoT</span>
                <span class="badge badge-pill badge-sand">#Technology</span>
                <span class="badge badge-pill badge-sand">#Bio</span>
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="cover.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a class="startup-link" href="show.html">From Smart Farm to Self Gardening!</a></h5>
              <p class="card-text"><a class="startup-link" href="show.html">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</a></p>
              <div class="tags">
                <span class="badge badge-pill badge-sand">#IoT</span>
                <span class="badge badge-pill badge-sand">#Technology</span>
                <span class="badge badge-pill badge-sand">#Bio</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="trending" class="container-fluid">
    <div class="container">
      <h2 class="title">Trending</h2>
      <div class="row justify-content-md-center">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="cover.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a class="startup-link" href="show.html">From Smart Farm to Self Gardening!</a></h5>
              <!-- <p class="card-text"><a class="startup-link" href="show.html">This is a longer card with supporting text below as a natural lead-in to additional content..</a></p> -->
              <div class="tags">
                <span class="badge badge-pill badge-sand">#IoT</span>
                <span class="badge badge-pill badge-sand">#Technology</span>
                <span class="badge badge-pill badge-sand">#Bio</span>
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="cover.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a class="startup-link" href="show.html">From Smart Farm to Self Gardening!</a></h5>
              <!-- <p class="card-text"><a class="startup-link" href="show.html">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</a></p> -->
              <div class="tags">
                <span class="badge badge-pill badge-sand">#IoT</span>
                <span class="badge badge-pill badge-sand">#Technology</span>
                <span class="badge badge-pill badge-sand">#Bio</span>
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="cover.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a class="startup-link" href="show.html">From Smart Farm to Self Gardening!</a></h5>
              <!-- <p class="card-text"><a class="startup-link" href="show.html">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</a></p> -->
              <div class="tags">
                <span class="badge badge-pill badge-sand">#IoT</span>
                <span class="badge badge-pill badge-sand">#Technology</span>
                <span class="badge badge-pill badge-sand">#Bio</span>
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="cover.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a class="startup-link" href="show.html">From Smart Farm to Self Gardening!</a></h5>
              <!-- <p class="card-text"><a class="startup-link" href="show.html">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</a></p> -->
              <div class="tags">
                <span class="badge badge-pill badge-sand">#IoT</span>
                <span class="badge badge-pill badge-sand">#Technology</span>
                <span class="badge badge-pill badge-sand">#Bio</span>
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="cover.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a class="startup-link" href="show.html">From Smart Farm to Self Gardening!</a></h5>
              <!-- <p class="card-text"><a class="startup-link" href="show.html">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</a></p> -->
              <div class="tags">
                <span class="badge badge-pill badge-sand">#IoT</span>
                <span class="badge badge-pill badge-sand">#Technology</span>
                <span class="badge badge-pill badge-sand">#Bio</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="more-btn mx-auto">More</button>
    </div>
  </div>

  <div id="technology" class="container-fluid">
    <div class="container">
      <h2 class="title">Techonology</h2>
      <div class="row justify-content-md-center">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="cover.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a class="startup-link" href="show.html">From Smart Farm to Self Gardening!</a></h5>
              <!-- <p class="card-text"><a class="startup-link" href="show.html">This is a longer card with supporting text below as a natural lead-in to additional content..</a></p> -->
              <div class="tags">
                <span class="badge badge-pill badge-sand">#IoT</span>
                <span class="badge badge-pill badge-sand">#Technology</span>
                <span class="badge badge-pill badge-sand">#Bio</span>
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="cover.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a class="startup-link" href="show.html">From Smart Farm to Self Gardening!</a></h5>
              <!-- <p class="card-text"><a class="startup-link" href="show.html">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</a></p> -->
              <div class="tags">
                <span class="badge badge-pill badge-sand">#IoT</span>
                <span class="badge badge-pill badge-sand">#Technology</span>
                <span class="badge badge-pill badge-sand">#Bio</span>
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="cover.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a class="startup-link" href="show.html">From Smart Farm to Self Gardening!</a></h5>
              <!-- <p class="card-text"><a class="startup-link" href="show.html">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</a></p> -->
              <div class="tags">
                <span class="badge badge-pill badge-sand">#IoT</span>
                <span class="badge badge-pill badge-sand">#Technology</span>
                <span class="badge badge-pill badge-sand">#Bio</span>
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="cover.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a class="startup-link" href="show.html">From Smart Farm to Self Gardening!</a></h5>
              <!-- <p class="card-text"><a class="startup-link" href="show.html">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</a></p> -->
              <div class="tags">
                <span class="badge badge-pill badge-sand">#IoT</span>
                <span class="badge badge-pill badge-sand">#Technology</span>
                <span class="badge badge-pill badge-sand">#Bio</span>
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="cover.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a class="startup-link" href="show.html">From Smart Farm to Self Gardening!</a></h5>
              <!-- <p class="card-text"><a class="startup-link" href="show.html">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</a></p> -->
              <div class="tags">
                <span class="badge badge-pill badge-sand">#IoT</span>
                <span class="badge badge-pill badge-sand">#Technology</span>
                <span class="badge badge-pill badge-sand">#Bio</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="more-btn mx-auto">More</button>
    </div>
  </div>
</main>
{% endblock %}
