{% extends 'startups/base.html' %}
{% load static %}
{% block css_libraries %}
<link rel="stylesheet" type="text/css" href="{% static 'libraries/timeline/timeline.css' %}">
{% endblock %}

{% block content %}
<!-- Cover Photo -->
<div id="cover" class="position-relative overflow-hidden text-center bg-light">
  <h1 class="vertical-middle-header">Umbrellabrella</h1>
</div>

<nav id="content-nav" class="nav justify-content-end">
  <div id="content-title" class="hide">
    <a class="navbar-brand" href="/">
      <img src="https://uc.uxpin.com/files/976853/959924/Slice300dp-b58693.png" class="logo d-inline-block align-top" alt=""/>
      LIPP
    </a>
    <a>Umbrella</a>
  </div>

  <li class="nav-item">
    <a class="nav-link active" href="#product">Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#portfolio">Portfolio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#timeline">Timeline</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#team">Team</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#article">Article</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#feedback">Feedback</a>
  </li>
  <button class="btn btn-sm contact-btn">CONTACT</button>
</nav>

<div id="product" class="container-fluid">
  <div class="container">
    <h2 class="title">Product</h2>
    <div class="row justify-content-md-center">
      <div class="col-md-6 col-xs-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </p>
      </div>
      <div class="col-md-6 col-xs-12">
        <video src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4" type="video/mp4s" controls width="100%" height="auto" />
      </div>
    </div>
  </div>
</div>

<div id="portfolio" class="container-fluid">
  <div class="container">
    <h2 class="title">Portfolio</h2>
    <div class="row justify-content-md-center">
      <div class="col-md-6 col-xs-12">
        <h3>Background/Problem</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </p>
      </div>
      <div class="col-md-6 col-xs-12">
        <h3>Solution</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="timeline" class="container-fluid">
  <div class="container">
    <h2 class="title">Timeline</h2>
    <div class="row justify-content-md-center">
      <div class="col-xs-12">
        <section class="timeline">
          <ul>
            <li>
              <div>
                <time>1967</time> Aenean condimentum odio a bibendum rhoncus. Ut mauris felis, volutpat eget porta faucibus, euismod quis ante.
              </div>
            </li>
            <li>
              <div>
                <time>1977</time> Vestibulum porttitor lorem sed pharetra dignissim. Nulla maximus, dui a tristique iaculis, quam dolor convallis enim, non dignissim ligula ipsum a turpis.
              </div>
            </li>
            <li>
              <div>
                <time>1985</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
              </div>
            </li>
            <li>
              <div>
                <time>2000</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
              </div>
            </li>
            <li>
              <div>
                <time>2005</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>

<div id="team" class="container-fluid">
  <div class="container">
    <h2 class="title">Team</h2>
    <div class="row">
      <table class="table table-borderless">
        <tr>
          <th scope="row">Name</th>
          <td>Company name</td>
        </tr>
        <tr>
          <th scope="row">Location</th>
          <td>South Korea</td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>We have been working since 2018. We are good teammates!</td>
        </tr>
      </table>
    </div>
    <div class="row justify-content-md-center">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">CEO</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">CTO</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">CDO</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fund" class="container-fluid">
  <div class="container">
      <h2 class="text-center">We are looking for</h2>
      <h1 class="text-center">$400k</h1>
  </div>
</div>

<div id="article" class="container-fluid">
  <div class="container">
    <h2 class="title">Article</h2>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="mx-auto btn-sm btn more-btn">10+ more</button>
  </div>
</div>

<div id="feedback" class="container-fluid">
  <div class="container">
    <h2 class="title">Feedback</h2>
    <div class="row justify-content-md-center">
      <div class="col-xs-10 col-sm-9">
        <form class="inline-form" role="form">
            <textarea class="autosize" placeholder="Leave your feedback here."></textarea>
            <button type="submit" class="float-right btn btn-sm">Leave!</button>
        </form>
      </div>
    </div>

    <div class="col-xs-9">
      <div class="panel-group feedback-card">
        <div class="panel panel-default">
          <button class="feedback-answer-btn btn btn-sm" data-toggle="collapse" href="#answer1">Hide reply</button>

          <h5 class="panel-title">Aria.j<span class="feedback-date">2019.04.14</span></h5>
          <p class="feedback-content">
            Blahblahahalhakahjlkajskljdklfjsal
          </p>
        </div>

        <div id="answer1" class="panel-collapse collapse show feedback-answer">
          <p class="panel-body">
            Hi, this is the answer from CEO. blahahlakhjalksjdklf
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-10">
      <div class="panel-group feedback-card">
        <div class="panel panel-default">
          <button class="feedback-answer-btn btn btn-sm" data-toggle="collapse" href="#answer2">Hide reply</button>

          <h5 class="panel-title">Aria.j<span class="feedback-date">2019.04.14</span></h5>
          <p class="feedback-content">
            Blahblahahalhakahjlkajskljdklfjsal
          </p>
        </div>

        <div id="answer2" class="panel-collapse collapse show feedback-answer">
          <p class="panel-body">
            Hi, this is the answer from CEO. blahahlakhjalksjdklf
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_libraries %}
<script src="{% static 'libraries/timeline/timeline.js' %}"></script>
<script type="text/javascript">
$("textarea.autosize").on('keydown keyup', function () {
  $(this).height(1).height( $(this).prop('scrollHeight') );
});


//menu transition js
$(document).ready(function(){
  $(window).scroll(function(){
  	var scroll = $(window).scrollTop();
	  if (scroll > 100) {
	    $(".navbar").addClass("navbar-scroll");
        }
    	  else{
		  $(".navbar").removeClass("navbar-scroll");
	  }
	  if (scroll > 320) {
      $("#content-nav").addClass("sticky-top");
      $("#content-title").removeClass("hide");
	  }

	  else{
      $("#content-nav").removeClass("sticky-top");
      $("#content-title").addClass("hide");
	  }
  })
})

</script>
{% endblock %}
