{% extends 'startups/base.html' %}
{% load static %}

{% block css_libraries %}
<link rel="stylesheet" type="text/css" href="{% static 'libraries/timeline/timeline.css' %}">
{% endblock %}

{% block content %}
<div id="startup-show">
  <!-- Cover Photo -->
  <div id="cover" class="position-relative overflow-hidden text-center bg-light">
    <h1 class="vertical-middle-header">{{ startup.product_name }}</h1>
    <div class="right-top">
      {% if is_owner %}
        <a href="{% url 'startup_edit' id=startup.id %}"><i class="material-icons">edit</i></a>
      {% endif %}
    </div>
    <div class="right-bottom">
      TODO: bootstrap tooltip
      <span id="like_cnt">{{ likes }}</span>
      {% if request_user_like %}
        <i class="material-icons color-coral" id="like">favorite</i>
      {% else %}
        <i class="material-icons color-coral" id= "like" >favorite_border</i>
      {% endif %}

      todo: copy to clipboard
      <i id="share-btn" class="material-icons">share</i>
      </div>
  </div>

  <nav id="content-nav" class="nav justify-content-end">
    <div id="content-title" class="hide">
      <a class="navbar-brand" href="/">
        <img src="{% static 'images/logo.png' %}" class="logo d-inline-block align-top" alt=""/>
        LIPP
      </a>
      <a>{{ startup.product_name }}</a>
    </div>

    <li class="nav-item">
      <a class="nav-link active" href="#product">Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#portfolio">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#timeline">Timeline</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#team">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#article">Article</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#feedback">Feedback</a>
    </li>
    <a href="mailto:{{startup.user.email}}" class="btn btn-sm contact-btn"><i class="material-icons">contact_mail</i></a>
  </nav>

  <div id="product" class="container-fluid">
    <div class="container">
      <h2 class="title">Product</h2>
      <div class="row justify-content-md-center">
        <div class="col-md-6 col-xs-12">
          <p>{{ startup.summary }}</p>
        </div>
        <div class="col-md-6 col-xs-12">
          <video src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4" type="video/mp4s" controls width="100%" height="auto" />
        </div>
      </div>
    </div>
  </div>

  <div id="portfolio" class="container-fluid">
    <div class="container">
      <h2 class="title">Portfolio</h2>
      <div class="row justify-content-md-center">
        <div class="col-md-6 col-xs-12">
          <h3>Background/Problem</h3>
          <p>{{ startup.background|safe }}</p>
        </div>
        <div class="col-md-6 col-xs-12">
          <h3>Solution</h3>
          <p>{{ startup.solution|safe }}</p>
        </div>
        <div class="col-md-6 col-xs-12">
          <h3>Market</h3>
          <p>{{ startup.market|safe }}</p>
        </div>
        <div class="col-md-6 col-xs-12">
          <h3>Future</h3>
          <p>{{ startup.future|safe }}</p>
        </div>
      </div>
    </div>
  </div>

  <div id="timeline" class="container-fluid">
    <div class="container">
      <h2 class="title">Timeline</h2>
      <div class="row justify-content-md-center">
        <div class="col-xs-12">
          <section class="timeline">
            <ul>
              {% for event in startup.timeline %}
              <li>
                <div>
                  <time>{{ event.date }}</time> {{ event.desc }}
                </div>
              </li>
              {% endfor %}
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div id="team" class="container-fluid">
    <div class="container">
      <h2 class="title">Team</h2>
      <div class="row">
        <table class="table table-borderless">
          <tr>
            <th scope="row">Name</th>
            <td>{{ startup.name }}</td>
          </tr>
          <tr>
            <th scope="row">Location</th>
            <td>{{ startup.location }}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ startup.team_desc }}</td>
          </tr>
        </table>
      </div>
      <div class="row justify-content-md-center">
        <div class="card-deck">
          {% for member in startup.members %}
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ member.position }}</h5>
                <p class="card-text">{{ member.career|safe }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div id="fund" class="container-fluid">
    <div class="container">
        <h2 class="text-center">We are looking for</h2>
        <h1 class="text-center">${{ startup.raiseAmount }}</h1>
    </div>
  </div>

  <div id="article" class="container-fluid">
    <div class="container">
      <h2 class="title">Article</h2>
      <div class="row">
      {% for a in article %}
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <h5 class="card-title"><a href= "{{ a.link }}">{{a.title}}</a></h5>
              <p class="card-text">{{a.summary}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>

      <button type="button" class="mx-auto btn-sm btn more-btn">10+ more</button>
    </div>
  </div>

  <div id="feedback" class="container-fluid">
    <div class="container">
      <h2 class="title">Feedback</h2>
      <div class="row justify-content-md-center">
        <div class="col-xs-10 col-sm-9">

          <form class="inline-form" action="{% url 'create_feedback' %}" method="POST" id="feedback_form">{% csrf_token %}
              <textarea class="autosize" placeholder="Leave your feedback here."></textarea>
              <button type="submit" class="float-right btn btn-sm" value="Summit" >Leave!</button>
          </form>
        </div>
      </div>

      {% for feedback in feedbacks %}
      <div class="col-xs-9">
        <div class="panel-group feedback-card">
          <div class="panel panel-default">
            <button class="feedback-answer-btn btn btn-sm" data-toggle="collapse" href="#answer1">Hide reply</button>

            <h5 class="panel-title"><i class="material-icons">face</i>&nbsp;{{feedback.user.username}}<span class="feedback-date">{{feedback.created_at}}</span></h5>
            <p class="feedback-content">
                {{feedback.feedback}}
            </p>
          </div>

          <div id="answer1" class="m4panel-collapse collapse show feedback-answer">
            <h5 class="ml-4 panel-title"><i class="material-icons">domain</i>&nbsp;Founder<span class="feedback-date">2019.04.14</span></h5>
            <p class="panel-body">
                {{feedback.reply}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<input type="hidden" id="paste-box" />
{% endblock %}

{% block js_libraries %}
<script src="{% static 'libraries/timeline/timeline.js' %}"></script>
<script type="text/javascript">
$("textarea.autosize").on('keydown keyup', function () {
  $(this).height(1).height( $(this).prop('scrollHeight') );
});

$(document).ready(function(){
  $('body').scrollspy({ target: '#content-nav' });

  $("#feedback_form").submit(function () {
    $.ajax({
      url: $(this).attr('action'),
        type: "POST",
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: {
          "feedback" : "im here, I will contact you!",
          "user_id" : {{ startup.user.id }} ,
          "startup_id" : {{startup.id}}
        },
        dataType: 'json'
    });
    return false;
  });

  $("#like").click(function(event){
    var requestForLike = (event.target.innerText == 'favorite_border');
    $.ajax({
      url: requestForLike ? "{% url 'create_like' %}" : "{% url 'delete_like' startup.id %}",
      type: requestForLike ? 'POST' : 'DELETE',
      headers: {'X-CSRFToken': '{{ csrf_token }}'},
      data: {
        "user_id" : {{ startup.user.id }},
        "startup_id" : {{startup.id}}
      },
      dataType: 'json',
      success: function(response) {
        $("#like_cnt").text(response);
        $(event.target).text(requestForLike ? 'favorite' : 'favorite_border');
      }
    });
  });


  $("#share-btn").click(function(_event) {
    var Url = document.getElementById("paste-box");
     Url.value = window.location.href;
     Url.focus();
     Url.select();
     document.execCommand("Copy");
    alert("Copied to the clipboard!");
  });

  //menu transition js
  $(window).scroll(function(){
    var scroll = $(window).scrollTop();
	  if (scroll > 100) {
	    $(".navbar").addClass("navbar-scroll");
        }
    	  else{
      $(".navbar").removeClass("navbar-scroll");


	  }
	  if (scroll > 320) {
      $("#content-nav").addClass("sticky-top");
      $("#content-title").removeClass("hide");
	  }

	  else{
      $("#content-nav").removeClass("sticky-top");
      $("#content-title").addClass("hide");
    }
  });
})

</script>
{% endblock %}
