{% extends 'startups/base.html' %}
{% load static %}

{% block css_libraries %}
{% endblock %}

{% block content %}
<div class="container-fluid bg-bg">
  <div class="bg-lipp" style="height: 700px">
    <div class="container">

      <h2 class="lipp-header">Lipp</h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="bg-lipp" style="height: 700px">
    <div class="container">

      <h2>Features</h2>
      <span class="title-desc">Tell us about your product working on or have been servicing and upload your pitching video and get more chance to take an investment.</span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="bg-lipp" style="height: 700px">
    <div class="container">

      <h2>Interest?</h2>
      <button class="btn">Discover!</button>
    </div>
  </div>
</div>
{% endblock %}

{% block js_libraries %}
<script src="{% static 'libaries/glide@3.3.0/glide.js' %}"></script>
{% endblock %}
