{% extends 'startups/base.html' %}
{% load static %}

{% block css_libraries %}
{% endblock %}

{% block content %}
<div id="main">
  <div class="container-fluid bg-bg">
    <div class="bg-lipp" style="min-height: 700px">
      <video autoplay loop id="myVideo">
        <source src="{% static 'intro.mp4' %}" type="video/mp4"/>
      </video>
      <div class="container2">
        <h2 class="lipp-header">Lipp</h2>
        <p class="text-center">
          Connecting people, Building the future
        </p>
        <div class="col-xs-12 text-center">
          <a href="{% url 'startup_index' %}" class="mt-3 btn btn-lg bg-coral">Discover startups!</a>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid bg-handshake">
    <div style="min-height: 350px;margin-top: 40px;">
      <div class="container">

        <h2 class="mt-3">Lipp is a platform to connect startup founders and venture capitalists.</h2>
        <span class="title-desc">We want to build strong connections between startup founders and VCs.
          For startup founders, Lipp can help to present your product and company very well.
  For venture capitalists, we offer a list of amazing startups, which you can find good ones to invest.
  There are a lot of opportunities of investments in the world.
  There are also a lot of people who could not take any investment because they are lack of information,
  because of their genders and prejudices.
  We think focusing to the product is the first and the most important thing.
  We are building an environment for the fairness and equality so that anyone who have a good idea can present their products and take investments!</span>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div style="min-height: 700px">
      <div class="container">
        <h2 class="mb-4">For startups</h2>
        <div class="row">
          <h3>Make your own portfolio</h3>
          <p>
            Have no idea how to make a portfolio of your product or company?<br/>
            Here’s Lipp for you! We offer you guidelines to make your project perfect with helpful links and videos
            so that anyone can make their own portfolio!.
            We also offer you fully supported editors, even you can attach photos and videos.
          </p>
        </div>
        <div class="row">
          <h3>Share to everyone, no more paper or pitching. </h3>
          <p>
            You can share your fancy project to everyone with a good look. What is good for sharing is you can get feedbacks from other founders and investors.
            Also For whom rarely have a chance to get feedbacks from investors or peers, we do offer feedback system so that they can make up for the weak points by receiving feedback before pitching or release.
          </p>
        </div>

        <div class="row">
          <h3>Get a chance to get investments!</h3>
          <p>
            You can write an amount of raises you want. It will help you to find more profit venture capitalists.
          </p>
        </div>

        <a href="{% url 'startup_new' %}" class="btn btn-lg bg-coral btn-block mt-4">Let's make a portfolio!</a>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-bg">
    <div style="min-height: 700px">
      <div class="container">
        <h2 class="mb-4">For Investors</h2>
        <div class="row mb-4 mt-4">
          <div class="col-xs-10">
            <h3>Portfolios in one place!</h3>
            <p>
              Every portfolios and startups are listed in public. You can watch startups you are interested in by saving it in your list.
              Keep on your eyes and you can find a good startup. You can also contact to them to schedule a meeting via email!
            </p>
          </div>

        </div>

        <div class="row mb-4">
          <div class="col-xs-10">
            <h3>Get information of the industrial on easy way</h3>
            <p>
              We do offer a list of articles related to each product or company so that even investors who do not have enough information about the industrial can get understand more easily.
              Related articles are crawled automatically based on the category of the product.
            </p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-xs-10">
            <h3>Focus on the product!</h3>
            <p>
              There are a lot of startups who have good idea to foster but have no experience or opportunities to take investments because of their unfairness of education and information and genders.
              We do offer guidelines so that they would present their products and companies well that you can find startups to invest. We do list features of product at first.
              We do not offer any information that can cause discrimination such as name and gender.
            </p>
          </div>
        </div>
        <a class="btn btn-lg bg-coral btn-block mt-4" href="{% url 'startup_index' %}">Let's discover startups!</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_libraries %}
<script src="{% static 'libaries/glide@3.3.0/glide.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    document.getElementById('myVideo').play();
  });

</script>
{% endblock %}
