{% extends 'startups/base.html' %}
{% load static %}

{% block css_libraries %}
<link rel="stylesheet" href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css"/>
{% endblock %}

{% block content %}
<div class="container-fluid bg-bg">
  <div class="bg-lipp" style="height: 700px">
    <div class="container">

      <h2>LIPP</h2>
      <span class="title-desc">Tell us about your product working on or have been servicing and upload your pitching video and get more chance to take an investment.</span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="bg-lipp" style="height: 700px">
    <div class="container">

      <h2>Features</h2>
      <span class="title-desc">Tell us about your product working on or have been servicing and upload your pitching video and get more chance to take an investment.</span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="bg-lipp" style="height: 700px">
    <div class="container">

      <h2>Interest?</h2>
      <button class="btn">Discover!</button>
    </div>
  </div>
</div>
{% endblock %}

{% block js_libraries %}
<script src="https://unpkg.com/@glidejs/glide@3.3.0/dist/glide.js"></script>
{% endblock %}
